@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (TempData["Message"] != null)
{
    <h2 class="text-danger">@TempData["Message"]</h2>
}
@if (TempData["Description"] != null)
{
    <h2 class="text-danger">@TempData["Description"]</h2>
}


