/src/.vs/*
/src/Server/Server.csproj.user
/src/Server/bin/*
/src/Server/obj/*
/src/Server/.vscode/*
/src/Server/Properties/serviceDependencies.local.json.user
/samples/.vs/*
/samples/SampleGoogleAuthen/bin/*
/samples/SampleGoogleAuthen/obj/*
/samples/SampleGoogleAuthen/Properties/serviceDependencies.local.json.user
/samples/SampleGoogleAuthen/SampleGoogleAuthen.csproj.user
/samples/SsoIdentityServer4/bin/*
/samples/SsoIdentityServer4/obj/*
/samples/SsoIdentityServer4/SsoIdentityServer4.csproj.user
/samples/SsoIdentityServer4/tempkey.jwk
/samples/Client/bin/*
/samples/Client/obj/*
/samples/Api/bin/*
/samples/Api/obj/*
/samples/MvcClient/obj/*
/samples/MvcClient/bin/*
/samples/TestEfCore/bin/*
/samples/TestEfCore/obj/*
